body {
  background-color: darkorchid;
}

.department-image {
  height: 280px;
  width: 280px
}

 .department {
  margin: 20px 0
}

.grey-out {
  opacity: 0.4;
}

.department-title {
  color: green;
  position: absolute;
  top: 50px;
  font-size: 50px;
}
  
.item img {
 height: 100px;
 width: 100px;
}

.item .panel {
  height: 200px;
}